<section>
  <div class="container mx-auto px-4 lg:px-0">
    <div class="pb-20">
      <ng-container *ngFor="let publication of publications; let odd = odd">
        <ng-container *ngIf="odd; else evenTemplate">
          <div
            class="flex items-start justify-between pt-10 flex-col lg:flex-row"
          >
            <div class="w-full lg:w-4/12 pt-10 pb-4 lg:pb-0">
              <p class="text-xs font-semibold mb-2">
                {{ publication.attributes.subtitle }}
              </p>
              <h3 class="text-xl font-semibold mb-4">
                {{ publication.attributes.title }}
              </h3>
              <p class="font-semibold mb-2">{{ publication.attributes.comment }}</p>
              <markdown class="text-xs font-light leading-relaxed marked">
                {{ publication.attributes.content }}
              </markdown>
            </div>
            <div class="w-full lg:w-7/12">
              <img
                class="w-full lg:h-[475px] object-cover"
                [src]="publication.attributes.picture.data.attributes.url"
                alt=""
              />
            </div>
          </div>
        </ng-container>
        <ng-template #evenTemplate>
          <div
            class="flex items-start justify-between pt-10 flex-col-reverse lg:flex-row"
          >
            <div class="w-full lg:w-7/12">
              <img
                class="w-full lg:h-[475px] object-cover"
                [src]="publication.attributes.picture.data.attributes.url"
                alt=""
              />
            </div>
            <div class="w-full lg:w-4/12 pt-10 pb-4 lg:pb-0">
              <p class="text-xs font-semibold mb-2">
                {{ publication.attributes.subtitle }}
              </p>
              <h3 class="text-xl font-semibold mb-4">
                {{ publication.attributes.title }}
              </h3>
              <p class="font-semibold mb-2">{{ publication.attributes.comment }}</p>
              <markdown class="text-xs font-light leading-relaxed marked">
                {{ publication.attributes.content }}
              </markdown>
            </div>
          </div>
        </ng-template>
      </ng-container>
    </div>
  </div>
</section>
