<div class="pt-14 pb-10">
  <p class="text-xl mb-1">IN ABOUT THE SCHOOL</p>
  <div class="text-sm pr-14">
    <a class="underline" href="">Mission Statement, </a>
    <a class="underline" href="">Land Acknowledgement, </a>
    <a class="underline" href="">Diversity, </a>
    <a class="underline" href="">Equity, </a>
    <a class="underline" href="">Inclusion, </a>
    <a class="underline" href="">& Belonging, </a>
    <a class="underline" href="">Study Areas, </a>
    <a class="underline" href="">People, </a>
    <a class="underline" href="">Resources for Faculty & Students, </a>
    <a class="underline" href="">Visiting, </a>
    <a class="underline" href="">Facilities, </a>
    <a class="underline" href="">Support the School, </a>
    <a class="underline" href="">Contact, </a>
    <a class="underline" href="">History, </a>
    <a class="underline" href="">About this Site, </a>
  </div>
</div>
