<section class="h-screen w-full fixed top-0 z-20 bg-[#00000069] flex items-center justify-center">
  <div class="bg-white p-10 relative">
    <h3 class="text-xl mb-6 font-bold">Sign in to Yale School of Art</h3>
    <span class="absolute top-[-10px] right-[-10px] bg-black text-white leading-none flex items-center justify-center w-10 h-10 cursor-pointer">
      <i class="iconoir-cancel text-2xl"></i>
    </span>
    <form class="flex flex-col gap-4" action="">
      <input class="w-full h-14 bg-[#E9E9E9] outline-none px-4" placeholder="User" type="text">
      <input class="w-full h-14 bg-[#E9E9E9] outline-none px-4" placeholder="Password" type="password">
      <a class="group/btn border border-black h-[60px] w-full gap-3 px-8 flex items-center justify-center font-bold transition-all duration-300 bg-black text-white" href=""><span>Sign in</span>
        <i class="iconoir-arrow-right text-2xl group-hover/btn:ml-4 transition-all duration-300"></i></a>
    </form>
  </div>
</section>
