<section class="pt-20">
  <div class="container mx-auto px-4 lg:px-0">
    <div class="flex items-start">
      <div class="w-4/12 hidden lg:block sticky top-20">
        <h2 class="text-xl font-semibold pb-4">ON THIS PAGE</h2>
        <div class="flex flex-col gap-1">
          <a href="/home#atsoa" class="flex items-center gap-3 active no-underline">
            <i class="iconoir-arrow-right"></i>
            <p>Happening at soa</p>
          </a>
          <a href="/home#bulletin" class="flex items-center gap-3 no-underline">
            <i class="iconoir-arrow-right"></i>
            <p>Community bulletin board</p>
          </a>
          <a href="/home#calendars" class="flex items-center gap-3 on-underline">
            <i class="iconoir-arrow-right"></i>
            <p>Calendars & newsletters</p>
          </a>
        </div>
      </div>
      <div class="w-full lg:w-8/12 pt-10">
        <div class="pb-20 pt-20" id="atsoa">
          <div class="pb-10">
            <h3 class="text-2xl pb-5">Happening at soa</h3>
            <a class="flex items-center gap-1 font-bold text-sm mb-2" href="">
              <span class="underline"
                >See the Fall 2023 Visiting Artist lecture schedule here</span
              >
              <span>>></span>
            </a>
            <a class="flex items-center gap-1 font-bold text-sm mb-2" href="">
              <span class="underline">Spring 2023 archive</span>
              <span>>></span>
            </a>
            <div class="flex items-center gap-1">
              <p class="text-lg">Fall 2023 exhibitions are also underway!</p>
              <a class="flex items-center gap-1 font-bold text-lg" href="">
                <span class="underline">Spring 2023 archive</span>
                <span>>></span>
              </a>
            </div>
          </div>
          <div>
            <h3 class="text-xl pb-5">ON THE CALENDAR</h3>
            <div class="bg-[#E9E9E9] w-full h-[600px]"></div>
          </div>
        </div>
        <div class="pb-20 pt-20" id="bulletin">
          <div class="pb-10">
            <h3 class="text-2xl pb-5">Community bulletin board</h3>
            <p class="text-sm font-semibold mb-2">
              IN MEMORIAM: BRICE MARDEN, MFA ‘63
            </p>
            <p class="text-sm mb-4">
              The School of Art is saddened to learn of the passing of Yale
              Norfolk Summer School of Art and Yale School of Art alumnus Brice
              Marden.
            </p>
            <a class="flex items-center gap-1 font-bold text-sm mb-2" href="">
              <span class="underline"
                >Read about his life and work in today’s New York Times
                obituary</span
              >
              <span>>></span>
            </a>
          </div>
          <div class="grid md:grid-cols-2 gap-6">
            <div class="w-full lg:h-[406px] overflow-auto bg-[#E9E9E9] p-5">
              <h4 class="text-sm font-bold mb-3">
                FROM OUR FRIENDS AT THE YALE CENTER FOR ENVIRONMENTAL JUSTICE
              </h4>
              <p class="text-[10px] font-light pb-2">
                The Yale Center for Environmental Justice is in the process of
                planning our fourth annual Global Environmental Justice
                Conference, with this year focusing on the theme of
                “Environmental Joy.” The conference aims to explore the ways in
                which environmental and climate justice and the communities
                engaged in that work generate joy. Guided by the notion that the
                ultimate goal of most environmental and climate work is to
                alleviate suffering and increase wellbeing, Environmental Joy
                will explore and celebrate the diverse ways that environmental
                justice achieves this goal.
              </p>
              <p class="text-[10px] font-light pb-2">
                One facet of the conference programming we hope to organize is a
                juried art show soliciting works from artists around the world
                on the theme of Environmental Joy to be showcased in an
                exhibition during the conference. We are currently seeking any
                interested students or faculty who would be interested in
                supporting the planning and execution of this call for art. If
                you’re interested in learning more about the opportunity, please
                contact Julia Simon
              </p>
            </div>
            <div class="w-full lg:h-[406px] overflow-auto bg-[#E9E9E9] p-5">
              <p class="text-[10px] font-light pb-2">
                discipline. As an option within Yale’s Summer Experience Award
                (SEA) funding model, the Arts Apprenticeship must fulfill the
                same basic requirements. Additional details, as well as those
                specific to the Arts Apprenticeship are included below. Yale
                faculty, alumni, or other arts practitioners interested in
                featuring positions through the program should contact Yale’s
                Creative Careers advisor. Which Opportunities are Eligible? Must
                be at least 30 hours/week, for at least 8-weeks over the summer
                months. Those 8-weeks do not have to be continuous if the
                mentoring Arts Practitioner agrees on a different schedule. The
                time commitment need not all be in direct contact with the Arts
                Practitioner. Independent projects, tasks, research, etc. can
                comprise much of the experience, as long as the Arts
                Practitioner is checking in regularly with the student to
                provide oversight and career-based context. The opportunity
                cannot be with a for-profit organization. The engagement for an
                Arts Apprenticeship should be directly with an individual Arts
                Practitioner and not with a company. The only exception to this
                would be if the company overseeing the apprenticeship were a
                registered non-profit organization. For more information:
                https://ocs.yale.edu/channels/arts-apprenticeship/ To post a
                job, contact:
              </p>
            </div>
          </div>
        </div>
        <div class="pb-20 pt-20" id="calendars">
          <div>
            <h3 class="text-2xl pb-5">Calendars & newsletters</h3>
            <p class="text-sm font-semibold mb-4">
              NEW CALENDARS BEGINNING SUMMER 2020
            </p>
            <div class="border-b border-black pb-3 mb-6">
              <div class="pb-3">
                <a
                  class="flex items-center gap-1 font-bold text-sm mb-1"
                  href=""
                >
                  <span class="underline">Public Calendar</span>
                  <span>>></span>
                </a>
                <p class="text-sm font-light">
                  Containing those events open to the public.
                </p>
              </div>
              <div class="pb-3">
                <a
                  class="flex items-center gap-1 font-bold text-sm mb-1"
                  href=""
                >
                  <span class="underline">School of Art in the World</span>
                  <span>>></span>
                </a>
                <p class="text-sm font-light">
                  Containing events and exhibitions hosted by, led by, or
                  featuring members of the School of Art community.
                </p>
              </div>
              <div class="pb-3">
                <a
                  class="flex items-center gap-1 font-bold text-sm mb-1"
                  href=""
                >
                  <span class="underline">Community Calendar</span>
                  <span>>></span>
                </a>
                <p class="text-sm font-light">
                  Containing those events open only to the SoA community.
                </p>
              </div>
            </div>
            <div>
              <a class="flex items-center gap-1 font-bold text-sm mb-3" href="">
                <span class="underline"
                  >Get news from the Yale School of Art in your inbox: Sign up
                  for our newsletters</span
                >
                <span>>></span>
              </a>
              <p class="text-sm font-light mb-3">
                We publish two newsletters during the academic year:
              </p>
              <p class="text-sm font-light mb-3">
                <span class="font-bold">News From New Haven —</span> A public
                monthly newsletter about news and events happening on campus.
              </p>
              <p class="text-sm font-light mb-3">
                <span class="font-bold">Week at SoA —</span> A weekly
                community-only email listing SoA events as well as public and
                university events in New Haven.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
