<div class="w-full overflow-auto bg-[#E9E9E9] p-5">
  <h4 class="text-sm font-bold mb-3">PUBLIC LECTURES AND EXHIBITIONS</h4>
  <p class="text-[10px] font-light pb-2">Each department has its own visitors program in which professionals from
    outside the School are invited to lecture to students or take part in critiques.</p>
  <p class="text-[10px] font-light pb-2">The School also facilitates a public all-school lecture program, in which
    ideas of general and cross-disciplinary importance are explored by visiting artists and members of the faculty
    in events typically hosted in the evening that are free and open to the public.</p>
  <p class="text-[10px] font-light pb-2">The School of Art’s galleries in Green Hall and EIK at 32 Edgewood Avenue
    provide a year-round forum for the exhibition of work by students, faculty, and special guests in the four
    graduate departments of the School and the undergraduate program. Green Gallery is open to the public when
    exhibitions are scheduled, but open hours vary by semester. EIK is open during limited hours for specific
    exhibitions and events. Please refer to the Gallery & Publications page for more information.</p>
</div>
