<div class="container mx-auto px-4 lg:px-0">
  <div class="flex flex-col lg:flex-row pt-5 items-end lg:h-[260px] border-b-2 border-black pb-5 mb-20">
    <div class="w-full lg:w-6/12">
      <h1 class="text-denk text-[#E76349] text-[50px] lg:text-[100px] leading-none pr-14 pb-5 lg:pb-0">
        YALE SCHOOL OF ART
      </h1>
    </div>
    <div class="w-full lg:w-6/12">
      <div class="flex flex-col md:flex-row items-end gap-8">
        <div class="w-full">
          <p class="text-[10px] font-light leading-loose">
            This website exists as an ongoing collaborative experiment in
            digital publishing and information sharing. Because this
            website functions as a wiki, all members of the School of Art
            community—graduate students, faculty, staff, and alums—have
            the ability to add new content and pages, and to edit most of
            the site’s existing content
          </p>
        </div>
        <div class="w-full">
          <p class="text-[10px] font-light leading-loose">
            Content is the property of its various authors. When you
            contribute to this site, you agree to abide by Yale University
            academic and network use policy, and to act as a responsible
            member of our community.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
