<section>
    <div class="container mx-auto px-4 lg:px-0 mb-10">
      <h2 class="text-xl font-semibold pb-2">SEPTEMBER 2023</h2>
      <div
        class="bg-[#E9E9E9] p-5 lg:min-h-[542px] flex flex-col-reverse lg:flex-row group transition-all duration-300"
      >
        <div class="w-full lg:w-4/12 flex flex-col justify-end items-start gap-5">
          <div class="flex flex-col">
            <p class="text-xl">JOIN US! NEW STAFF POSITIONS OPEN</p>
          </div>
          <a
            class="group/btn border border-black h-[60px] gap-3 px-8 flex items-center justify-center font-bold transition-all duration-300 bg-black text-white transition duration-300"
            href=""
            ><span>READ MORE</span>
            <i
              class="iconoir-arrow-right text-2xl group-hover/btn:ml-4 transition-all duration-300"
            ></i
          ></a>
        </div>
        <div
          class="w-full lg:w-8/12 flex flex-col justify-start items-end mb-5 lg:mb-0"
        >
          <img
            class="w-full lg:w-fit lg:h-[348px] group-hover:grayscale transition-all duration-300"
            src="/assets/images/event-10.png"
            alt=""
          />
          <div class="bg-white px-4 py-2">
            <p class="text-[10px]">
              Poster design by Darnell Henderson, Graphic Design MFA ‘24
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="container mx-auto px-4 lg:px-0 mb-10">
      <h2 class="text-xl font-semibold pb-2">SEPTEMBER 29, 2023</h2>
      <div
        class="bg-[#E9E9E9] p-5 lg:min-h-[542px] flex flex-col-reverse lg:flex-row group transition-all duration-300"
      >
        <div class="w-full lg:w-4/12 flex flex-col justify-end items-start gap-5">
          <div class="flex flex-col">
            <p class="text-xl">NEWS FROM NEW HAVEN: SEPTEMBER 2023</p>
            <p class="font-semibold">
              FALL 2023 CURRICULAR HAPPENINGS & HIGHLIGHTSNEW FACULTY LECTURE
              SERIES BEGINS WITH CATHERINE OPIEINAUGURAL CLIMATE ENGAGEMENT MURAL
              COMPLETE & MORE
            </p>
          </div>
          <a
            class="group/btn border border-black h-[60px] gap-3 px-8 flex items-center justify-center font-bold transition-all duration-300 bg-black text-white transition duration-300"
            href=""
            ><span>READ MORE</span>
            <i
              class="iconoir-arrow-right text-2xl group-hover/btn:ml-4 transition-all duration-300"
            ></i
          ></a>
        </div>
        <div
          class="w-full lg:w-8/12 flex flex-col justify-start items-end mb-5 lg:mb-0"
        >
          <img
            class="w-full lg:w-fit lg:h-[348px] group-hover:grayscale transition-all duration-300"
            src="/assets/images/event-11.png"
            alt=""
          />
          <div class="bg-white px-4 py-2">
            <p class="text-[10px]">
              Poster design by Darnell Henderson, Graphic Design MFA ‘24
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  