<section>
  <div class="container mx-auto px-4 lg:px-0">
    <h3 class="text-xl font-semibold mb-1">YALE SCHOOL OF ART COMMENCEMENT</h3>
    <div class="w-full overflow-auto bg-[#E9E9E9] p-5 lg:mb-6 flex flex-col">
      <p class="text-[10px] mb-2">
        This booklet series publishes the speeches by speakers invited by the
        Dean on the occasion of the commencement of students receiving their MFA
        degrees from graphic design, painting/printmaking, photography, and
        sculpture.
      </p>
      <p class="text-[10px] mb-2">
        Published bi-annually and launched with Fred Moten’s 2018 commencement
        address, the series is intended to provide a reflection on the two years
        that defined the recently graduated class.
      </p>
      <p class="text-[10px]">
        Efforts are currently being undertaken to make these publications
        publicly accessible.
      </p>
    </div>
  </div>
</section>
