<div class="pt-14 pb-10 pr-14">
  <p class="text-xl mb-2">APPLY TO THE SCHOOL</p>
  <p class="text-sm mb-2">
    The Yale School of Art is a graduate school that confers Master of Fine Arts
    Degrees in Graphic Design, Painting/Printmaking, Photography, and Sculpture
  </p>
  <p class="mb-2 text-[10px] font-light">
    For information on applications to the MFA program, please click the
    “Graduate Admission” link below.
  </p>
  <p class="text-[10px] font-light">
    The undergraduate admissions process is handled entirely through Yale
    College. Please refer all undergraduate admissions questions to the Yale
    College Undergraduate Admissions Office.
  </p>
</div>
