<div class="pt-14 pb-10 pr-14">
  <p class="text-xl mb-2">EXHIBITIONS</p>
  <p class="text-sm mb-2">The School of Art galleries in Green Hall provide a year-round forum for the exhibition of work by students, faculty, and special guests in the four graduate departments of the School and the undergraduate program.</p>
  <p class="text-sm mb-2">During exhibitions, Green Hall Gallery at 1156 Chapel Street is typically open to the public but due to COVID-19, it will remain open only to the Yale community until further notice.</p>
  <a class="flex items-center gap-1 font-bold text-sm mb-2" href="">
    <span class="underline">Find past School of Art exhibitions in our developing archiv</span>
    <span>>></span>
  </a>
</div>
