<section>
  <div class="container mx-auto px-4 lg:px-0 pb-20">
    <div class="w-full overflow-auto bg-[#E9E9E9] p-5 mb-6 flex flex-col">
      <h4 class="text-sm font-bold mb-2">Application is live!</h4>
      <a class="text-[10px] font-light mb-2 underline" href=""
        >Application is live!</a
      >
      <p class="text-[10px] font-light mb-2">
        <span class="font-bold">Deadline:</span> Wednesday, January 10, 2024 at
        11:59pm Eastern Standard Time
      </p>
      <p class="text-[10px] font-light mb-2">
        The SoA wiki admission pages provide extensive information about
        applying to Yale’s MFA program. Use this as your resource while
        preparing an application.
      </p>
      <p class="text-[10px] font-light mb-2">
        Questions that are not easily answered via these pages may be directed
        to our office, either via email art.admissions@yale.edu or phone (during
        business hours), with the understanding that Yale does not provide
        personalized portfolio review or advisement about the content of
        applicant submissions.
      </p>
      <p class="text-[10px] font-light mb-2">
        Application status and receipt of documents can be checked within the
        status portal at the application link above, after an application has
        been submitted.
      </p>
      <p class="text-[10px] font-light mb-2">
        <span class="font-bold"
          >Applicants SHOULD NOT CONTACT Yale School of Art faculty and/or
          current students seeking program information, application and/or
          portfolio advisement.</span
        >
        Please respect the personal/private spaces (such as email, social media,
        direct message, etc.) and time of our community by utilizing the wiki
        and, when necessary, directing your inquiries appropriately to those
        whose job it is to assist you.
      </p>
      <p class="text-[10px] font-light">Thank you</p>
    </div>
    <div class="flex flex-col gap-3 pt-10">
      <a class="flex items-center gap-1 font-bold lg:text-[40px] mb-2" href="">
        <span class="underline">Graduate Admission</span>
        <span>>></span>
      </a>
      <a class="flex items-center gap-1 font-bold lg:text-[40px] mb-2" href="">
        <span class="underline">Tuition, Fees, & Financing Your Education</span>
        <span>>></span>
      </a>
      <a class="flex items-center gap-1 font-bold lg:text-[40px] mb-2" href="">
        <span class="underline">Graduate Study Areas</span>
        <span>>></span>
      </a>
      <a class="flex items-center gap-1 font-bold lg:text-[40px] mb-2" href="">
        <span class="underline">Courses</span>
        <span>>></span>
      </a>
      <a class="flex items-center gap-1 font-bold lg:text-[40px] mb-2" href="">
        <span class="underline">Housing</span>
        <span>>></span>
      </a>
      <a class="flex items-center gap-1 font-bold lg:text-[40px] mb-2" href="">
        <span class="underline">Brochures and Documentatio</span>
        <span>>></span>
      </a>
    </div>
  </div>
</section>
