@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../node_modules/angular-calendar/css/angular-calendar.css";

@layer components {
  body {
    font-family: "Comfortaa", cursive;
    scroll-behavior: smooth;
  }

  .text-denk {
    font-family: "Denk One", sans-serif;
  }

  .marked p{
    margin-bottom: 16px;
  }
}
