<section>
  <div class="container mx-auto px-4 lg:px-0">
    <h3 class="text-xl font-semibold mb-1">PRINT PUBLICATIONS</h3>
    <p class="text-sm font-bold mb-3">
      ALL-SCHOOL MFA BOOK SERIES (2017–PRESENT)
    </p>
    <div class="w-full overflow-auto bg-[#E9E9E9] p-5 lg:mb-6 flex flex-col">
      <p class="text-[10px] mb-2">
        This series of printed publications was initiated in 2017 and features
        the work of each recently graduated MFA class.
      </p>
      <p class="text-[10px]">
        Often distributed for free at public School of Art events, these
        publications are also made available through the Yale University Library
        System.
      </p>
    </div>
  </div>
</section>
